*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.botn_enlace{
    display: block;
    text-decoration: none;
    padding: 12px 70px;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    color: black;
    max-width: 500px;
    width: 700px;
    transition: all .3s ease;
    margin: 0 auto;
}
.titulo{
   margin:40px;
}
.titul{
    font-size: 16px;
    font-weight: 400;
    font-family: "Century Gothic";
    text-align: center;
}
.ti{
    font-size: 31px;
    font-family: "Century Gothic";
    font-weight: 530;
    text-align: center;
}
.content{
    margin: 0 auto;
    padding: 20px;
}
.content_botn{
    padding: 10px 150px;
}

.botn_enlace:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width:920px){


    .botn_enlace{
        display: block;
        padding: 12px;
        border-radius: 20px;
        color: black;
        max-width: 0 auto;
        width: 90%;
        transition: all .3s ease;
        margin: 0 auto;
    }
    .titulo{
       margin:34px;
    }
    .titul{
        font-size: 14px;
        font-weight: 400;
        font-family: "Century Gothic";
        text-align: center;
    }
    .ti{
        font-size: 29px;
        font-family: "Century Gothic";
        font-weight: 530;
        text-align: center;
    }
    .content{
        margin: 0;
        padding: 15px;
    }
    .content_botn{
        padding: 10px;
    }

}
